.collection {
  margin: 2px;
  background-color: #9ba5c2;
  border: #d2cc9f 2px solid;
  height: 165px;
}

.fishIcon {
  cursor: pointer;
  background-color: #9ba5c2;
  margin: none;
}

.fishIcon:hover {
  opacity: 50%;
}

.fishName {
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  background: none;
  margin: none;
  line-height: 0;
}